<h1>Listing videos</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <% if video.thumbnail_link != nil %>
        <td><%= link_to image_tag(video.thumbnail_link, size: "200x120"), video %></td>
        <% end %>
        <td><p>View <%= link_to video.title, "http://www.youtube.com/watch?v=#{video.youtube_id}" %> on YouTube</p></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

