<h1>Listing videos</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= link_to video.title, "http://www.youtube.com/watch?v=#{video.youtube_id}" %></td>
        
        <td><%= link_to 'Show', video %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

