<p id="notice"><%= notice %></p>

<p><iframe width="560" height="315" src="//www.youtube.com/embed/<%= @video.youtube_id %>" frameborder="0" allowfullscreen></iframe></p>

<%= link_to 'Back', videos_path %> |
<%= link_to 'Edit', edit_video_path(@video) %>

